spring:
  application:
    name: cityDrive
  datasource:
    url: jdbc:postgresql://localhost:5433/citydrivedb
    username: postgres
    password: Atestat_1
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  data:
    redis:
      host: localhost
      port: 6379

  mail:
    host: smtp.gmail.com
    port: 587
    username: adikbudslive@gmail.com
    password: cicdyahwhewdvfai
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true


app:
  jwt:
    secret: "Diplom_2026_Secret_Key_For_JWT_Authentication_MinLength32Chars"
    expiration: 900000
  refresh-token:
    expiration-days: 30

server:
  port: 8081